---
layout: default
---
 

     <section  id="about" class="cappui-branding-guidelines section-padding">
        <div class="container">
           <div class="row">
              <div class="col-md-9 col-md-push-1">
 
                <h2 class="h2-blue" >Branding Guidelnes</h2>
                
                <h2>These are just a few simple rules to help you use our branding elements to easily communicate the Cappui brand effectively.</2>Crafting Great Products. Into Technology Companies</h2>
                
                </div>
            </div>     

             <div class="row">                  
                <div class="col-md-9 col-md-push-1"  style="padding-top: 50px;">
                     <h2>Logo</h2>
                    
                     <p>The <b>standard version</b> of the Cappui logo should be used on most occasions where our logo is to be used or brand represented. This logo is made up of a 6 x 6 square grid where each square within this square has been given its own unique tint of colour from blue, light grey and dark grey. Where the most prominent colour is the Cappui emerald green. These hues should never be altered. With our <b>grayscale version</b> of the logo being used only where the logo is required to be smaller or less noticeable. Finally our <b>black and white version</b> of the logo should only be used as a single solid colour. And only be a maximum of <b>~100px pixels</b> or less in height.</p>


                    <div class="col-md-3">

                        <a href="http://drops.cappui.com/13fD1"><img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-logo-website-500px.png"></a>
               
                    </div>

                    <div class="col-md-3">

                        <a href="http://drops.cappui.com/13fD1"><img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-logo-website-grayscale-500px.png"></a>
                    
                    </div>

                    <div class="col-md-3">

                        <a href="http://drops.cappui.com/13fD1"><img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-logo-website-black-500px.png"></a>
                    
                    </div>
                    <div class="col-md-3">

                        <a href="http://drops.cappui.com/13fD1"><img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-logo-white-web-500px.png"></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9 col-md-push-1"  style="padding-top: 50px;" >


                     <h2>Wordmark</h2>
                    
                     <p>The Cappui wordmark is to only be used where our brand requires recognition by name and visual recognition is not required. There are only three methods of representation of our brand when using our wordmark. These three methods are that you must only render our wordmark in Colour, Black or White.</p>


                    <div class="col-md-3">

                        <a href="http://drops.cappui.com/13fD1"><img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-colour-wordmark.png"></a>
               
                    </div>
                    <div class="col-md-3">

                        <a href="http://drops.cappui.com/13fD1"><img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-grey-wordmark.png"></a>
                    
                    </div>     
                    <div class="col-md-3">

                        <a href="http://drops.cappui.com/13fD1"><img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-black-wordmark.png"></a>
                    
                    </div>

                    <div class="col-md-3">

                        <a href="http://drops.cappui.com/13fD1"><img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-white-wordmark.png"></a>
                    
                    </div>       
                </div>
            </div>

            <div class="row">
                <div class="col-md-9 col-md-push-1"  style="padding-top: 50px;" >


                     <h2>Logotype</h2>
                    
                     <p>The Cappui logotype is used to demonstrate how the logo symbol and wordmark should be aligned next to each other. The lockup of both the  logo and wordmark must only be used in colour alongside colour versions, grey alongside grey versions, black alongside black versions and white alongside white versions. Where white versions must only be used on dark backgrounds and colour, grey and black on light backgrounds.</p>

                   <div class="col-md-3">

                        <a href="http://drops.cappui.com/13fD1"><img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-facebook.png"></a>
               
                    </div>

                    <div class="col-md-3">

                        <a href="http://drops.cappui.com/13fD1"><img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-grayscale-version.png"></a>
                    
                    </div>

                    <div class="col-md-3">

                        <a href="http://drops.cappui.com/13fD1"><img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-black-and-white-version.png"></a>
                    
                    </div>
                    <div class="col-md-3">

                        <a href="http://drops.cappui.com/13fD1"><img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-white-version.png"></a>
                    
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-9 col-md-push-1" style="padding-top: 50px;" >


                     <h2>Spacing</h2>
                    
                     <p>The Cappui logo, symbol or wordmark should always be surrounded by a generous amount of whitespace. The left most column within the 6 x 6 square in the below diagram demonstrates how the whitespace is defined by “x”.</p>
                
      
                     <a href="//s3-eu-west-1.amazonaws.com/cappui-labs/spacing.png" class="fluidbox fluidbox__instance-[i] fluidbox--closed">
                     <div class="fluidbox__wrap" style="z-index: 990;">
                        <img src="//s3-eu-west-1.amazonaws.com/cappui-labs/spacing.png" alt="" title="" class="fluidbox__thumb" style="opacity: 1;">
                        <div class="fluidbox__ghost" style="width: [w]; height: [h]; top: [t]; left: [l];"></div></a>

                </div>
            </div>

            <div class="row">
                <div class="col-md-9 col-md-push-1" style="padding-top: 50px;" >


                     <h2>Colors</h2>
                    
                     <p>The four most prominent Cappui colours are "Cappui emerald green”, "Cappui light gray", "Cappui dark gray" and "Cappui blue". And are all represented as #35495e, #16a085, #7f8c8c and #bdbdbd. These colours match the coloured squares in our standard logo. These colours are only used through out the Cappui branding only. And should only be rendered as solid colours. These colours must not be tweaked, lightened or darkened in anyway where our brand is being represented.</p>

                     <a href="http://drops.cappui.com/13fD1"><img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-colours.png"></a>
               
            
                </div>
            </div>

            <div class="row">
                <div class="col-md-9 col-md-push-1" style="padding-top: 50px;" >


                     <h2>Don'ts</h2>
                    
                     <p>The four most prominent Cappui colours are "Cappui green”, "Cappui light gray", "Cappui dark gray" and "Cappui blue". And are all represented as #35495e, #16a085, #7f8c8c and #bdbdbd. These colours match the coloured squares in our standard logo. These colours are only used through out the Cappui branding only. And should only be rendered as solid colours. These colours must not be tweaked, lightened or darkened in anyway where our brand is being represented.</p>

                     <a href="http://drops.cappui.com/13fD1"><img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-logo-do-nots.png"></a>
               
                     <p style="padding-top: 50px;" >&#149; The four most prominent Cappui colours are "Cappui green”, "Cappui light gray", "Cappui dark gray" and "Cappui blue". And are all represented as #35495e, #16a085, #7f8c8c and #bdbdbd. These colours match the coloured squares in our standard logo. These colours are only used through out the Cappui branding only. And should only be rendered as solid colours. These colours must not be tweaked, lightened or darkened in anyway where our brand is being represented.</p>

                     <a href="http://drops.cappui.com/13fD1"><img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-logo-do-nots-two.png"></a>


                </div>



          </div>
        </div>
    </section>

