<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  
  <meta charset="utf-8">
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ site.title }}</title>
  <meta name="description" content="Cappui's an experimental technology lab that makes pragmatic solutions. We are on a social mission to achieve greater global commercial / end-user transparency. We build applications with emerging technolgies such container services and distributed or decentralised systems.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="author" href="//uk.linkedin.com/in/duncanalistairforbes
"></link>

  <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" href="{{ "/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ "/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16" />

  {% stylesheet normalize.min %}
  {% stylesheet bootstrap %}
  {% stylesheet jquery.fancybox %}
  {% stylesheet flexslider %}
  {% stylesheet main %}
  {% stylesheet queriesmain %}
  {% stylesheet etline-font %}
  {% stylesheet animate.css/animate.min %}
 
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.3/css/fluidbox.min.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  {% javascript vendor/modernizr-2.8.3-respond-1.4.2.min %}


</head>
