
        <hr></hr>

          <div class="row">
            <div class="col-md-6" >
               
                <img src="//s3-eu-west-1.amazonaws.com/cappui-labs/work-with-us-footer.png" style="width: 411px">
         
             </div>    

             <div class="col-md-6" >
               
                <h2>Have an interesting project you would like to collaborate on? Then lets speak.</h2>
                
                <p>It would be a delight to hear all about your idea for your application be it enterprise or consumer. We love helping those with great visions turn a product into reality. We'd also be thrilled to do the odd talk, roundtable or co-host an event. So if you think you have something that maybe up our street. Don't be afraid to reach out to us now.</p>

                <a href="https://cappui.typeform.com/to/AoKlCo" class="btn btn-ghost btn-accent btn-large"target="_blank" >Lets Collaborate!</a>

           </div>
          </div>
 