---
layout: default
---
 

    <section  id="design-thinking-header" class="design-thinking-header section-padding">
        <div class="container">
            <div class="row">
           
                 <div class="col-md-6 col-md-push-6 text-center">
              
                    {% for des in site.data.images %}
                      {% if des.design_image == "design-header" %}
                     <img src="{{ des.href }}" title="{{ des.design_image }}">
                      {% endif %}
                    {% endfor %}   

             </div> <!-- col-md-6 col-md-push-6 text-center -->
             <div class="col-md-6 col-md-pull-6">
               
                <h1>Design Thinking</h1>
               
                <h2>A deep human centric look at your business and infinite ideas to solve end-user experience problems.</h3>
            
                <p>Design thinking is our method of thought and the process to which we go through with all our clients when enaging them as a consultant on all user experience related projects. We help you to learn how to discover where your strategies for end-user engagement or aquisition are not working. And how best to implement a solution which may help your business grow.</p>
            
            </div> <!-- col-md-6 col-md-pull-6 -->
         </div> <!-- row -->
      </div> <!-- container -->
    </section> <!-- #design-thinking-header .design-thinking-header -->
    


    <section  id="design-thinking-one" class="design-dev-white section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    {% for des in site.data.images %}
                      {% if des.design_image == "infinite" %}
                     <img src="{{ des.href }}" title="{{ des.design_image }}" >
                      {% endif %}
                    {% endfor %}   
                    
                    <h2>Infinite Cycles ></h2>
                    
                    <p>The development cycle of user-experience is inifinte. Similarly to software development it requires a restless approach to prototyping ideas. This approach is testing, learning and correcting continuously.</p>
                
                </div>
                <div class="col-md-4">
  
                    {% for des in site.data.images %}
                      {% if des.design_image == "observe" %}
                     <img src="{{ des.href }}" title="{{ des.design_image }}" >
                      {% endif %}
                    {% endfor %}   
                 
                    <h2>Observe Users ></h2>
                 
                    <p>Analysing your end-users and how they interact with your applications from prototype to beyond beta stage. It is important to undetstand what features or designs they do not respond to, use less often or find hard to navigate.</p>

                </div>
                <div class="col-md-4">
 
                    {% for des in site.data.images %}
                      {% if des.design_image == "engage" %}
                     <img src="{{ des.href }}" title="{{ des.design_image }}" >
                      {% endif %}
                    {% endfor %}   
                    
                    <h2>Engage Users ></h2>
                    
                    <p>Put your end-users first. Speak to and meet them. Learn from them and understand how best to improve your applications for their benefit and your companys long-term growth.</p>

                </div>
            </div>
        </div>
    </section>
    



    <section  id="design-thinking-two" class="design-dev-black section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    {% for des in site.data.images %}
                      {% if des.design_image == "downlands" %}
                     <img src="{{ des.href }}" title="{{ des.design_image }}" >
                      {% endif %}
                    {% endfor %}
                    
                    <h2>Downlands ></h2>
                   
                    <p style="color: #fff; line-height: 1.8em;">Downlands. A British term for rolling hills. End-user needs are similar to rolling hills. They evolve and grow. Sloping up and down in metric form. After learning our end-user needs from observing and engaging with them we have learned what is most important to them. We must action these lessons into our project goals. Turning them into solutions which must now be achieved.</p>

                </div>
                 <div class="col-md-4">
     
                    {% for des in site.data.images %}
                      {% if des.design_image == "loops" %}
                     <img src="{{ des.href }}" title="{{ des.design_image }}" >
                      {% endif %}
                    {% endfor %}
                
                    <h2>Loops ></h2>
                
                    <p>Like our infinite development cycle. We must engage with your team and leadership one-on-one or in groups. This must be in a place seperate to the workplace. A place where we must all freely voice problems requiring changes to close in nearer to our solution faster. To critising elements where weakness in our project require being worked on to improve or even remove from the development cycle.</p>

                </div>
                 <div class="col-md-4">
  
                    {% for des in site.data.images %}
                      {% if des.design_image == "contributors" %}
                     <img src="{{ des.href }}" title="{{ des.design_image }}" >
                      {% endif %}
                    {% endfor %}
                    
                    <h2>Contributors ></h2>
                    
                    <p>Real-life people. A Cara or Harry from XYZ Company who live their own life and  experiences. They give you feedback thats unbiased to your views. So you can align goals more transparently. Contributors are a part of your projects community and collborative network. And should be included in all Loop sessions for project enhancement. If their needs are not met your likely not moving in the right direction. </p>
 
                </div>
            </div>
        </div>
    </section>

    
   <section  id="design-thinking-three" class="design-dev-white section-padding" style="background: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    
                    {% for des in site.data.images %}
                      {% if des.design_image == "measure" %}
                     <img src="{{ des.href }}" title="{{ des.design_image }}" >
                      {% endif %}
                    {% endfor %}
                    
                    <h2 style="color: #000;" >Measure ></h2>
                    
                    <p style="color: #000; line-height: 1.8em;">We must measure our end-users engagement with our projects. Are our changes improving their usage and overall experience? Are we acquiring more users because of these changes? Are our goals truly solving these problems? or are further improvements needed until we meet these goals? These are all some of the questions we must keep asking.</p>

                </div>
                <div class="col-md-4">

                    {% for des in site.data.images %}
                      {% if des.design_image == "triangulate" %}
                     <img src="{{ des.href }}" title="{{ des.design_image }}" >
                      {% endif %}
                    {% endfor %}
                                        
                    <h2 style="color: #000;" >Triangulate ></h2>
                    
                    <p style="color: #000; line-height: 1.8em;">Cross verify the data you receive from every other step in the process. So that we may understand how our end-users behave and interact with our projects. This data and reasearch is valuable to us understanding our end-user in an overall more complex yet clear manner.</p>

                </div>
                <div class="col-md-4">
   
                    {% for des in site.data.images %}
                      {% if des.design_image == "diamonds" %}
                     <img src="{{ des.href }}" title="{{ des.design_image }}" >
                      {% endif %}
                    {% endfor %}
                    
                    <h2 style="color: #000;" >Ruff Diamonds ></h2>
                    
                    <p style="color: #000; line-height: 1.8em;">Once we've found the value and gained clarity of who our end-user is and what their more complex problems are. We can them sift through this data. Finding one or two ruff diamonds that could even surprise us. These ruff diamonds may ultimatly be the key to unlocking unseen growth within our projects eco-system.</p>

                </div>
            </div>
        </div>
    </section>

