
/* ==========================================================================
Hero
========================================================================== */
.hero {
  min-height: 750px;
  background: #218A75 no-repeat center center;
  background-size: cover;
  position: relative; }
  .hero .down-arrow a {
    color: #fff; }
  .hero h1 {
    color: #8090DC;
    font-weight: 300;
    margin-bottom: 25px; }
  .hero h2 {
  color: #fff;
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 25px; }
  .hero h3 {
  color: #fff;
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 25px; }
  .hero p.intro {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px; }
  .hero .hero-content {
    padding-top: 26%; }

.navigation {
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
  position: absolute;
  width: 100%;
  z-index: 999; }

.fixed {
  position: fixed;
  background-color: #E2E2E2;
  z-index: 999;
  width: 100%; }

header {
  padding: 10px 20px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  position: relative;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: #FFFFFF;
  -webkit-transition: padding 300ms ease-in-out;
          transition: padding 300ms ease-in-out; }
  header a {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
   }
    header a.login {
      margin-right: 20px; }
  header .logo {
    display: inline-block; 
    width: 136px;
    height: 40px;
  }
  header .logo img {
    width: ;
  }
  header ul.primary-nav {
    margin: 0 0 0 25px;
    padding: 0; }
    header ul.primary-nav li {
      display: inline; }
      header ul.primary-nav li a {
        color: #333;
        padding-right: 25px; }
        header ul.primary-nav li a:hover {
          color:  #8090DC; }
      header ul.primary-nav li:last-child a {
        padding-right: 0px; }
  header ul.member-actions li {
    display: inline; }
    header ul.member-actions li a {
      color: #000;
      padding-right: 25px; }
      header ul.member-actions li a:hover {
        color:  #8090DC; }
  header .header-nav {
    display: inline-block; }
  header .member-actions {
    position: absolute;
    right: 0;
    top: 21px;
    -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }

.down-arrow {
    color: #fff;
    font-size: 80px;
    position: absolute;
    left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

/* ==========================================================================
Intro
========================================================================== */
.intro span.icon {
  font-size: 40px;
  color: #12DCB5;
  font-weight: bold; }

.intro-two span.icon {
  font-size: 40px;
  color: #12DCB5;
  font-weight: bold; }

.intro-two a {
  color: #0FDCB4;
}

 .intro-two h5 {
     font-size: 28px;
    color: #3D4351;
    text-transform: uppercase;
    font-weight: 800;
  }

.intro-three span.icon {
  font-size: 40px;
  color: #12DCB5;
  font-weight: bold; }

 .intro-three h5 {
     font-size: 28px;
    color: #3D4351;
    text-transform: uppercase;
    font-weight: 800;
  }

.intro-icon {
  display: inline-block;
  vertical-align: top;
  padding: 6px 0 0 0;
  margin-right: 20px;
  width: 40px; }

.intro-content {
  display: inline-block;
  width: 80%; }

/* ==========================================================================
Features-stack
========================================================================== */
.features {
  position: relative; }
  .features p {
    margin-bottom: 0;
    padding-bottom: 0; }
  .features h3 {
    margin: 0 0 20px 0; }
  .features span.icon {
    font-size: 35px;
    color: #FF5274;
    font-weight: bold; }
  .features .feature-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px;
    width: 35px; }
  .features .feature-content {
    display: inline-block;
    width: 75%; }
  .features .intro-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px; }
  .features .intro-content {
    display: inline-block;
    width: 80%; }
  .features ul.features-stack {
    margin-top: 50px; }
  .features ul.features-stack li {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E9EA; }
  .features ul.features-stack li:last-child {
    padding-bottom: 0px;
    border-bottom: none; }
  .features .ipad-wrap {
    width: 706px;
    height: 1002px;
    background: url("../img/ipad-device.png") no-repeat center center;
    z-index: 1; }
  .features .iphone-wrap {
    width: 304px;
    height: 620px;
    background: url("../img/iphone6.png") no-repeat center center;
    position: absolute;
    left: 530px;
    bottom: 129px;
    z-index: 2; }
  .features .device-showcase {
    position: absolute;
    bottom: -365px;
    right: 61%; }

.features .responsive-feature-img, .features-extra .responsive-feature-img {
  display: none; }

.devices {
  position: relative; }







/* ==========================================================================
.hero-strip
========================================================================== */
.hero-strip {
  margin-top: 0px;
  background:#000E1D no-repeat center center;
  padding-bottom: 190px;
  position: relative; }
  .hero-strip i {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #F69D52;
    vertical-align: top;
    margin-left: -8px;
    font-style: normal; }
  .hero-strip h2 {
    color: #fff;
    margin: 0 0 20px 0; }
.hero-strip h3 {
  color: #fff;
  margin: 0 0 20px 0; }
  .hero-strip p {
    line-height: 5px;
    color: #fff; }
  .hero-strip .btn {
    margin-top: 10px; }
  .hero-strip .logo-placeholder {
    width: 230px;
    height: 230px;
    position: absolute;
    bottom: -285px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }




/* ==========================================================================
.develop
========================================================================== */
.develop {
    background-position: top;
    height: 850px;
    background-repeat: no-repeat;
    position: relative;
    background-color: #ECECEC; }
  .develop i {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #F69D52;
    vertical-align: top;
    margin-left: -8px;
    font-style: normal; }
  .develop h2 {
    color: #fff;
    margin: 0 0 20px 0; }
.develop h3 {
  color: #fff;
  margin: 0 0 20px 0; }
  .develop p {
    line-height: 5px;
    color: #fff; }
  .develop .btn {
    margin-top: 10px; }
  .develop .logo-placeholder {
    width: 230px;
    height: 230px;
    position: absolute;
    bottom: -285px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }



/* ==========================================================================
.product-famoi-hero
========================================================================== */
.product-famoi-hero {
    background-position: top;
    height: 850px;
    background-repeat: no-repeat;
    position: relative;
    background-color: #ECECEC; }
  .product-famoi-hero i {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #F69D52;
    vertical-align: top;
    margin-left: -8px;
    font-style: normal; }§
  .product-famoi-hero h2 {
    color: #fff;
    margin: 0 0 20px 0; }
.product-famoi-hero h3 {
  color: #fff;
  margin: 0 0 20px 0; }
  .product-famoi-hero p {
    line-height: 5px;
    color: #fff; }
  .product-famoi-hero .btn {
    margin-top: 10px; }
  .product-famoi-hero .logo-placeholder {
    width: 230px;
    height: 230px;
    position: absolute;
    bottom: -285px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }





/* ==========================================================================
.about-one
========================================================================== */

.about-one {
  padding-top: 160px; }

  .about-one h3 {
  color: #fff;
  margin-top: 180px;
  font-weight: bold;
  font-size: 25px;
  font-weight: 300 !important; }
  .about-one h4 {
    margin-bottom: 120px;
    text-align: center;
  }
  .about-one .logo-placeholder {
    padding-left: 25px;
    text-align: center;
    width: 100%;
    height: 479px;
    background: url("../img/network.png") no-repeat center center;
  }

  .about-one p {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    text-align: left;
    padding-bottom: 20px;
    font-weight: 300; }
  .about-one .leftcol {
    padding-right: 100px;
    border-right: solid 1px #E6E9EA; }
  .about-one .rightcol {
    padding-left: 100px; }





/* ==========================================================================
.home-hero
========================================================================== */

.home-hero {
  padding-top: 160px; }

  .home-hero h3 {
  color: #fff;
  margin-top: 180px;
  font-weight: bold;
  font-size: 25px;
  font-weight: 300 !important; }
  .home-hero h4 {
    margin-bottom: 120px;
    text-align: center;
  }
  .home-hero .logo-placeholder {
    padding-left: 25px;
    text-align: center;
    width: 100%;
    height: 479px;
    background: url("../img/network.png") no-repeat center center;
  }

  .home-hero p {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    padding-bottom: 20px;
    font-weight: 300; }
  .home-hero .leftcol {
    padding-right: 100px;
    border-right: solid 1px #E6E9EA; }
  .home-hero .rightcol {
    padding-left: 100px; }




/* ==========================================================================
.howitworks-one
========================================================================== */

.howitworks-one {
  padding-top: 160px; }

  .howitworks-one h3 {
  color: #fff;
  margin-top: 180px;
  font-weight: bold;
  font-size: 25px;
  font-weight: 300 !important; }
  .howitworks-one h4 {
    margin-bottom: 120px;
    text-align: center;
  }
  .howitworks-one .logo-placeholder {
    padding-left: 25px;
    text-align: center;
    width: 100%;
    height: 479px;
    background: url("../img/network.png") no-repeat center center;
  }

  .howitworks-one p {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    padding-bottom: 20px;
    font-weight: 300; }
  .howitworks-one .leftcol {
    padding-right: 100px;
    border-right: solid 1px #E6E9EA; }
  .howitworks-one .rightcol {
    padding-left: 100px; }



/* ==========================================================================
.howitworks-two
========================================================================== */
.howitworks-two {
  padding-top: 160px;
  background: #f2f2f2; }
  .howitworks-two h3 {
    margin-bottom: 70px; }
  .howitworks-two .leftcol {
    padding-right: 100px;
    border-right: solid 1px #E6E9EA; }
  .howitworks-two .rightcol {
    padding-left: 100px; }


/* ==========================================================================
.consulting
========================================================================== */
.consulting {
  padding-top: 160px;
  background: #643EEA;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);}
  .consulting h3 {
  font-size: 25px;
   color: #f2f2f2; }
  .consulting .leftcol {
    padding-right: 100px;
    border-right: solid 1px #E6E9EA; }
  .consulting .rightcol {
    padding-left: 100px; }
  .consulting .panel-default>.panel-heading {
    background-color: #643EEA;
  }
  .consulting .list-group-item {
    background-color: #643EEA;
    color: #fff;
  }

