@media screen and (max-width: 1200px) {
  header {
    margin: 0 auto;
  }
  .intro-content {
    display: inline-block;
  }
  .hero .hero-content {
    padding-top: 28%;
  }
  p {
    font-size: 1em;
  }
  h2 {
    font-size: 25px;
  }
  .btn {
    font-size: 10px;
  }

  /* Home Page */

  .home-hero {
    h3 {
      font-size: 1.8em; 
      margin-top: 130px;
    }  
    img {
        width: 100% !important;
        padding-bottom: 30px;
    }
  }
  .cappui-about {
    h2 {
      font-size: 1.8em; 
    }
    .h2-blue {
      font-size: 2em;
    }
  }
  .cappui-architect {
    h2 { font-size: 2em;
    }
    img {
        width: 100% !important;
        padding-bottom: 30px;
    }
  }
  .cappui-design-thinking {
    h2 { font-size: 2em;
    }
    img {
        width: 100% !important;
        padding-bottom: 30px;
    }
  }
  .cappui-modern-development {
    h2 { font-size: 2em;
    }
    img {
        width: 100% !important;
        padding-bottom: 30px;
    }
  }
  .cappui-transparency {
    h2 { font-size: 2em;
    }
    img {
        width: 100% !important;
        padding-bottom: 30px;
    }
  }
  .cappui-about-team {
      h2 { font-size: 2em;
      }
      p {
        font-size: 1em;
      }
  }
  .resources {
      h2 { font-size: 1em;
      }
      p {
        font-size: 0.95em;
      }
  }
  .work-with-us {
      h2 { font-size: 1em;
      }
      p {
        font-size: 0.95em;
      }
  }
}

/* Responsive nav kicks in */
@media screen and (max-width: 991px) {
  
   /* Home Page */

  .home-hero {
    padding: 0px 0px;
    text-align: center;
      h3 {
       font-size: 1.7em;
     }
     p {
        font-size: 1em;
      }  
      img {
        width: 70% !important;
        padding-bottom: 50px;
        padding-top: 0px;
    }
  }
  .cappui-about {
    h2 {
      font-size: 1.3em; 
    }
    .h2-blue {
      font-size: 1.3em;
    }
  }
  .cappui-architect {
    text-align: center;
    h2 { 
        font-size: 1.6em;
    }
    img {
        width: 70% !important;
        padding-bottom: 50px;
    }
  }
  .cappui-design-thinking {
    text-align: center;
      h2 { 
        font-size: 1.6em;
      }
      p {
          text-align: left;
       }
      img {
          width: 70% !important;
          padding-bottom: 50px;
    }
  }
  .cappui-modern-development {
    text-align: center;
    h2 { 
        font-size: 1.6em;
    }
    img {
        width: 70% !important;
        padding-bottom: 50px;
    }
  }
  .cappui-transparency {
    text-align: center;
    h2 { 
        font-size: 1.6em;
    }
    img {
        width: 70% !important;
        padding-bottom: 50px;
    }
  }



 .develop {
    text-align: center;
  }
  .container {
    img {
      width: 50%;
      text-align: center;
    }
    padding-right: 80px;
    padding-left: 80px;
  }
  .famoi-intro {
    height: 77vh;
  }
  .video .famoi-header img {
    width: 60%;
    text-align: center;
  }
  .hero .hero-content {
    padding-top: 32%;
  }
  .header-nav {
    position: fixed;
    background-color: #000E1D;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }
  ul.member-actions {
    position: static;
  }
  header ul.member-actions li a {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
  }
  .navicon {
    visibility: visible;
  }
  header {
    .nav-wrapper {
      display: absolute;
    }
    nav {
      position: relative;
      top: 30%;
      -moz-transform: translatey(-45%);
      -ms-transform: translatey(-45%);
      -o-transform: translatey(-45%);
      -webkit-transform: translatey(-45%);
      transform: translatey(-45%);
    }
  }
  nav {
    ul {
      li {
        a {
          color: #fff;
          font-size: 25px;
          text-transform: uppercase;
          font-weight: 500;
          -moz-transition: all 300ms ease-in-out;
          -o-transition: all 300ms ease-in-out;
          -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
        }
        margin-bottom: 25px;
      }
      &.primary-nav li, &.member-actions li {
        display: block;
      }
    }
    a.login {
      margin-right: 0px;
    }
    ul.primary-nav {
      margin: 0;
      padding: 0;
      text-align: center;
      li a {
        padding-right: 0;
      }
    }
    .member-actions {
      position: static;
      padding: 0;
      text-align: center;
    }
    ul {
      &.primary-nav li, &.member-actions li {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity = 0);
        opacity: 0;
        -moz-transform: translate3d(0, -80px, 0);
        -ms-transform: translate3d(0, -80px, 0);
        -o-transform: translate3d(0, -80px, 0);
        -webkit-transform: translate3d(0, -80px, 0);
        transform: translate3d(0, -80px, 0);
        -moz-transition: -moz-transform 0.5s, opacity 0.5s;
        -o-transition: -o-transform 0.5s, opacity 0.5s;
        -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s;
        -moz-transition: -moz-transform 0.5s, opacity 0.5s;
        -o-transition: -o-transform 0.5s, opacity 0.5s;
        -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s;
      }
    }
  }
  header .header-nav.open ul {
    &.primary-nav li, &.member-actions li {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity = 100);
      opacity: 1;
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  nav ul {
    &.primary-nav li {
      &:first-child {
        -moz-transition-delay: 0.05s;
        -o-transition-delay: 0.05s;
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
      }
      &:nth-child(2) {
        -moz-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
      }
      &:nth-child(3) {
        -moz-transition-delay: 0.15s;
        -o-transition-delay: 0.15s;
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
      }
      &:nth-child(4) {
        -moz-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
      }
    }
    &.member-actions li {
      &:first-child {
        -moz-transition-delay: 0.25s;
        -o-transition-delay: 0.25s;
        -webkit-transition-delay: 0.25s;
        transition-delay: 0.25s;
      }
      &:nth-child(2) {
        -moz-transition-delay: 0.30s;
        -o-transition-delay: 0.30s;
        -webkit-transition-delay: 0.30s;
        transition-delay: 0.3s;
      }
    }
  }
  .intro-content {
    display: inline-block;
    width: 95%;
    margin-bottom: 30px;
  }
  .howitworks-one h3 {
    margin-top: 30px;
    font-size: 21px;
  }
  .last {
    margin: 0;
  }
  .features {
    padding-bottom: 0;
    .device-showcase {
      display: none;
    }
  }
  .features-extra .macbook-wrap {
    display: none;
  }
  .features .responsive-feature-img, .features-extra .responsive-feature-img {
    display: block;
    width: 85%;
    margin: 15% auto 0;
  }
  .features .responsive-feature-img img, .features-extra .responsive-feature-img img {
    width: 100%;
  }
  .blog-intro {
    .leftcol {
      padding: 0 15px;
      margin-bottom: 15px;
      border-right: none;
    }
    .rightcol {
      padding: 0 20px;
    }
  }
  footer {
    .social-share {
      display: none;
    }
    .footer-links {
      margin: 120px 0 120px 0;
    }
  }
}

@media screen and (max-width: 640px) {
  footer ul.footer-group {
    border-top: none;
    li a {
      font-size: 13px;
      text-transform: uppercase;
      padding: 20px 0;
      display: block;
      border-bottom: dashed 1px #4E566C;
    }
  }
  .howitworks-one {
    h3 {
      margin-top: 10px;
      font-size: 21px;
    }
    p {
      font-size: 15px;
      line-height: 30px;
      color: #fff;
      padding-bottom: 20px;
      font-weight: 300;
    }
  }
  .hero-strip {
    margin-top: 0px;
    h2 {
      font-size: 17px;
    }
    h3 {
      font-size: 14px;
    }
    p {
      line-height: 1px;
      font-size: 10px;
    }
  }
  footer {
    ul.footer-group li {
      display: block;
    }
    .footer-links {
      margin: 50px 0 50px 0;
    }
    ul.footer-group li:last-child {
      margin-right: 30px;
    }
  }
}

@media screen and (max-width: 480px) {
  .hero {
    min-height: 470px;
    .hero-content {
      padding-top: 41%;
    }
    .btn {
      display: block;
      width: 80%;
      margin: 0 auto;
      &:first-of-type {
        margin-bottom: 20px;
      }
    }
    h1 {
      font-size: 24px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    h2 {
      font-size: 18px;
      margin-top: 12px;
      margin-bottom: 0px;
    }
    h3 {
      font-size: 14px;
      margin-top: 12px;
      margin-bottom: 0px;
    }
    p.intro {
      font-size: 11px;
      line-height: 29px;
      margin-top: 7px;
      margin-bottom: 0px;
    }
  }
  .btn-margin-right {
    margin-right: 0px;
  }
  .features {
    .device-showcase-left {
      position: absolute;
      bottom: -392px;
      left: 41%;
      right: auto;
      transform: translateX(-50%);
    }
    .ipad-wrap {
      width: 706px;
      height: 1002px;
      background: url("../img/ipad-device.png") no-repeat center center;
      z-index: 1;
      background-size: 40%;
    }
    .iphone-wrap {
      width: 304px;
      height: 617px;
      background: url("../img/iphone6.png") no-repeat center center;
      position: absolute;
      left: 350px;
      bottom: 129px;
      z-index: 2;
      background-size: 40%;
    }
    padding-bottom: 0;
  }
}