---
layout: default
---
 

     <section  id="about" class="cappui-about section-padding">
        <div class="container">
           <div class="row">
              <div class="col-md-8 col-md-push-2">
 
                <h1 class="h2-blue"> せんりゃく </h1>
                <h1 class="h2-blue">Senryaku of Cappui</h1>
                
                 <h2>Senryaku simply means strategy in Japanese. Our foundations are built on the Senryaku of Cappui.</h2>
                 
                 <img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-about.png">

                 <p>Which are our project guidelines and strict strategic workflow and protocol. This has been inspired by our founders love and personal interest in Asian Literature and Art. Some additional inspiration has also been taken from the Tao Te Ching and his own personal philosophies.</p>
                               
              </div>
          </div>
    </section>


    <section  id="senryaku-main-content" class="senryaku-main-content section-padding">
        <div class="container">

            <hr></hr>

            <div class="row">
                <div class="col-md-10 col-md-push-1">

                     <h2>Experiment and Workflow ></h2>

                     <p>Never shy away from experimenting with new and emerging technologies. When learning these technologies it is important to stay curious and at one with your creative and playful mind. Never be afraid of discovering how they could be implemented into a project or new ways of approaching development. It is away to harbour new ideas, concepts and spur innovation within development or design. To create great new products. Even if you end up not using these technologies you have often adopted  a new perspective to programming or new way of thinking.</p>
                    
                     <p>Although technology is an important part of the development process. It is after all a higher priority that you focus on your end-goal and workflow. Rather than just the technology that embodies your software development. With this said as technology evolves you must embrace it and adapt with it both in software and hardware. These new technologies must easily be adopted into our software. If what we require does not exist. We must step in and craft the tool that fits our requirements to solve our problem. This of course means driving our focus away from the workflow to create new project goals and stories to iterate through.</p>


            
                </div> <!-- col-md-10 col-md-push-1  -->
                <div class="col-md-10 col-md-push-1 ">

                     <h2>Prioritise and Think Different ></h2>
                    
                     <p>If there is a bug to fix you must analyse and sift through the sediment to find where the erroneous fault lives within the software. To fix the bug. If there is erosion within a clients or your own project where there has been a change of mind or direction. These must all be prioritised and focused on first.</p>

                     <p>Thinking creatively and simplifying the complex requires looking at new ways to do more with less. To master this we must come out of our comfort zones bubble and think beyond any boundaries within  our imagination and take control. Thinking openly and multilaterally at the problem at hand to create an original solution that has global viability and fits a human centric desire  or enterprise markets wants. Humans after-all consume upon desire not needs. And enterprises often want and require legacy systems to be upgraded. So that they can strategically compete within an ever evolving world of technology.</p>
            
                </div> <!-- col-md-10 col-md-push-1  -->
                <div class="col-md-10 col-md-push-1 ">

                     <h2>Minimalism and Simplification ></h2>
                    
                     <p>You must think minimalistically and this should be apart of your culture when developing software or designing interfaces. And must be applied into all software or user experience design and code refactoring processes. As your software evolves it must be simplified and improved. After all great software or design is simple and it must be recognised that even at the heart of the UNIX Philosophy was simplicity.</p>

                     <p>The more you refine and remove from your code it allows you to progress forward. And with that said the more skilled and masterful a craftsmen you will have become. Yet most of all the software and user experience will be less messy and more refined or constructed at the core of its foundations. Therefore achieving a higher quality of product.</p>

            
                </div> <!-- col-md-10 col-md-push-1  -->
                <div class="col-md-10 col-md-push-1 ">

                     <h2>Fluid Experiences & Emotion ></h2>
                    
                     <p>The interface of your software must be designed and crafted so that the users experience is fluid. It must engage users so that they immerse themselves into content or simply navigate around an environment that may otherwise be a complex system. This must be a requirement for both consumer or enterprise applications. The designs need to be familiar, gratifying, ready to delight and simple to learn. And be distraction free.</p>

                     <p>To consider a users human emotions is of great importance. The software must be loved, enjoyable or relatable. No matter who is interacting with it. To say this we mean we want our users to connect with products on an emotional level called anthropomorphism. These are attributes of human characteristics and purpose and these must be designed and crafted into your interface.</p>
                     
            
                </div> <!-- col-md-10 col-md-push-1  -->
                <div class="col-md-10 col-md-push-1 ">

                     <h2>Manage and Assess Risk ></h2>
                    
                     <p>With every new project comes risk. And this requires considering all the possible outcomes and failures. These can be the project running over deadlines. The client pulling out of a project or failing to produce data on a timely fashion. A team member leaving during the middle of a project. Creating a requirement to search for a full-time or temporary replacement and introduce them to the project. Which will likely delay the project. To even the worse case scenario of either the client or us running out of finance during a project which would require further requirements negotiations.</p>

                     <p>Although some of these may seem far fetched or unlikely. These are all example scenarios that could occur during any project. And must be considered and drawn up as a risk and added to a requirements sheet. And assessed or renegotiated regularly. Never be afraid to discuss “Failure”, “Rejection” or “Cancellation. This a risk-discovery process that must be considered and every outcome thought through thoroughly. No matter how unlikely it may seem.</p>

            
                </div> <!-- col-md-10 col-md-push-1  -->
                <div class="col-md-10 col-md-push-1 ">
                    
                    <h2>Modular Composability ></h2>
                    
                    <p>Easy to learn to clear and concise user-interface design both in consumer and enterprise grade products must be key to the success with a modulistic approach to the way our software is developed is fundamental to the underpinning foundations. These may be distributed or decentralised systems that communicate through micro-services between one another with a fluid set of abstractions that allow us to </p>

                </div> <!-- col-md-10 col-md-push-1  -->
                <div class="col-md-10 col-md-push-1 ">
                    
                    <h2>Communicate,Version and Immutable></h2>
                    
                    <p>Software must be clearly commented and easy to read. Super simple for contributors of opensource projects dip in and out of. Code or product documentation must enable ease of accessibility for developers within a diverse group of categories to participate in our projects development.

                    <p>Versioning must always be immutable and states must be trackable and easily audited. With new versions from development, testing, staging and production clearly defined and always moderated and managed in an effective manner.</p>

                </div> <!-- col-md-10 col-md-push-1  -->
                <div class="col-md-10 col-md-push-1 ">

                     <h2>Durable Systems and Automation ></h2>
                    
                     <p>Do not shy away from experimenting with new and emerging technologies. It is important to be at one with yourself internally young instincts and be creative and playful with new technology. It is away to harbour new ideas, concepts and spur innovation within Cappui’s products and for your clients.</p>
            
                </div> <!-- col-md-10 col-md-push-1  -->
                <div class="col-md-10 col-md-push-1 ">
                    
                    <h2>Continuous Delivery and Iteration ></h2>
                    
                    <p>Versioning must always be immutable and states must be trackable and easily audited. With new versions from development, testing, staging and production clearly defined and always moderated and managed in an effective manner..</p>

                </div> <!-- col-md-10 col-md-push-1  -->
                <div class="col-md-10 col-md-push-1 ">
                    
                    <h2>Logic, Pragmatism and Kipple ></h2>
                    
                    <p> With the continuing need for company’s to both be more open we will always commit ourselves to being open both from the technologies we use to as company upon growing our seedling-self into a more fruitful pastures with salaries and finances. This will always be apart of our mission for a more open business landscape between all industries.</p>

                </div> <!-- col-md-10 col-md-push-1  -->
                <div class="col-md-10 col-md-push-1 ">
                    
                    <h2>Contributor Recognition ></h2>
                    
                    <p>No matter whether the contributor is a Cappui team member, corporate partner or indvidual contributor to the development of our products. We will always give equal recognition to everyone involved in the development cycle. Both our open source public or private contributors and team members allow us to create great products and deserve this recognition. This is the same for those working for Cappui who create intellectual property that the company owns. We will always allow those to own a fair percentage of this property for which they were apart of the creation process of.</p>

            </div> <!-- col-md-10 col-md-push-1  -->
          </div> <!-- row  -->
        </div> <!-- container  -->
    </section> <!-- #senryaku-main-content  .senryaku-main-content  -->

