/* ==========================================================================
.tabs
========================================================================== */
.tabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 1.25em;
}

/* Nav */
.tabs nav {
  text-align: center;
  padding-bottom: 50px
}

.tabs nav ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.tabs nav ul li {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5;
}

.tabs nav a span {
  vertical-align: middle;
  font-size: 1em;
}

.tabs nav li.tab-current a {
   background: #333;
}

.tabs nav a:focus {
  outline: none;
}

/* Icons */
.icon::before {
  z-index: 10;
  display: inline-block;
  margin: 0 0.4em 0 0;
  vertical-align: middle;
  text-transform: none;
  font-weight: normal;
  font-variant: normal;
  font-size: 1.3em;
  font-family: 'stroke7pixeden';
  line-height: 1;
  speak: none;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-upload::before {
  content: "\e68a";
}
.icon-tools::before {
  content: "\e60a";
}
.icon-plane::before {
  content: "\e625";
}
.icon-joy::before {
  content: "\e6a4";
}
.icon-plug::before {
  content: "\e69a";
}
.icon-home::before {
  content: "\e648";
}
.icon-gift::before {
  content: "\e652";
}
.icon-display::before {
  content: "\e65e";
}
.icon-date::before {
  content: "\e660";
}
.icon-config::before {
  content: "\e666";
}
.icon-coffee::before {
  content: "\e669";
}
.icon-camera::before {
  content: "\e66f";
}
.icon-box::before {
  content: "\e674";
}

/* Content */
.content-wrap {
  position: relative;
  width: 100%; 
  padding-bottom: 100px; 
  background: #f2f2f2;
}

.content-wrap section {
  display: none;
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
  text-align: center;

}

.content-wrap section.content-current {
  display: block;
}

.content-wrap section.content-current .margin-top {
  padding-top: 80px;
}

.content-wrap section a {
  color: #643EEA;
}

.content-wrap section p {
  margin: 0;
  padding: 1.2em 6rem;
  color: #333;
  font-weight: 300;
  text-align: justify;
  font-size: 0.9em;
  line-height: 1.5;
}
/* Fallback */
.no-js .content-wrap section {
  display: block;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
  display: block;
}

.no-flexbox nav ul li {
  min-width: 15%;
  display: inline-block;
}

@media screen and (max-width: 58em) {
  .tabs nav a.icon span {
    display: none;
  }
  .tabs nav a:before {
    margin-right: 0;
  }
  .tabs nav a span {
    font-size: 0.55em;
  }
  .content-wrap section.content-current .margin-top {
  padding-top: 50px;
  }
  .content-wrap section p {
    padding: 0.9em 4rem;
  }

}


.tabs-style-linebox nav ul li {
  margin: 0 0.5em;
  -webkit-flex: none;
  flex: none;
}

.tabs-style-linebox nav a {
  padding: 0 1.5em;
  color: #f2f2f2;
  font-weight: 300;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  background-color: rgba(120, 90, 224, 0.7);
}

.tabs-style-linebox nav a:hover,
.tabs-style-linebox nav a:focus {
  color: #c2c2c2;
}

.tabs-style-linebox nav li.tab-current a {
  color: #fff;
}

.tabs-style-linebox nav a::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #d2d8d6;
  content: '';
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  -webkit-transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
  -webkit-transform: translate3d(0,100%,0) translate3d(0,-3px,0);
  transform: translate3d(0,100%,0) translate3d(0,-3px,0);
}

.tabs-style-linebox nav li.tab-current a::after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.tabs-style-linebox nav a:hover::after,
.tabs-style-linebox nav a:focus::after,
.tabs-style-linebox nav li.tab-current a::after {
  background: rgb(100, 62, 234);
}

@media screen and (max-width: 58em) {
  .tabs-style-linebox nav ul {
    display: block;
    box-shadow: none;
  }
  .tabs-style-linebox nav ul li {
    display: inline-block;
    -webkit-flex: none;
    flex: none;
  }
  .tabs-style-linebox nav a {
    padding: 0 0.9em;
  }
}

