---
layout: nofoot
---
 

    <section  id="about" class="cappui-about section-padding">
        <div class="container">
           <div class="row">
              <div class="col-md-8 col-md-push-2">
 
                <h1 class="h2-blue">The Products We Are Crafting Into Global Companies.</h1>
                
                 <h2>Our focus is to build great products and prove the hypothesis of ideas. We bring together elite creative and entrepreneurial talent. Where we create  teams to craft, test and grow these into products that are innovative and disruptive. And may become profitable global businesses.</h2>
                 
                 <img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-products.png">
                               
              </div>
          </div>
    </section>


   <section  id="about-main-content" class="about-main-content">
        <div class="container">
          
          <hr></hr>

           <div class="row">
              <div class="col-md-6 col-md-push-6 middle" >           


                 <img src="https://s3-eu-west-1.amazonaws.com/cappui-labs/famoi-prod-logo.png">     


              </div> <!-- col-md-6 -->  
              <div class="col-md-6 col-md-pull-6" >

                  <h2>Crafting The Futures Information
                      Supply Chain Network Infrastructure.
                      And Organising its Digital DNA.</h2>

                  <p>The Famoi network aims to make the leap of transitioning from hybrid digital and traditional information Supply Chain solutions simple for both small businesses and enterprises. This new decentralised network being crafted on top of Ethereum will allow information to be exchanged between vendors and suppliers without the worry of information leakage. More importantly Famoi will help promote industry wide collaboration and end-user transparency between suppliers and vendors. Providing a platform that is both developer and end-user friendly for custom solutions using Famoi. And end-user product discovery tools for consumers to learn more about the products they buy and their provenance before purchasing goods.</p>
                  
                <ul class="about-social">

                <li><a href="//github.com/famoi"  target="_blank" class="facebook-share"><i class="fa fa-github"></i></a></li>   
               
                <li> <a href="//twitter.com/TheFamoi"  target="_blank" class="twitter-share"><i class="fa fa-twitter"></i></a></li>

                 <li><a href="//www.facebook.com/Famoi-29766665312/?ref=ts&fref=ts"  target="_blank" class="facebook-share"><i class="fa fa-facebook"></i></a></li>  

               </ul>
            
              </div> <!-- col-md-6 -->                
           </div> <!-- row -->


       </div> <!-- container -->
    </section> <!-- cappui-transparency -->




