---
layout: default
---
 

      <section  id="about" class="cappui-about section-padding">
        <div class="container">
           <div class="row">
              <div class="col-md-8 col-md-push-2">

                <h1 class="h2-blue">OPEN MISSION</h1>

                <h1 class="h2-blue">Committed To Building An Open World</h1>
                
                 <h2>As goverments push for businesses to become transparent.</h2>
                 
                 <img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-about.png">

                 <p>We want to help businesses by making the solutions that enable them to become more open to end-users of their products or data. With the right tools available it can only but help them meet goverment requirements more quickly. Increasing both company reputation and trust between the end-user.</p>
                               
              </div>
          </div>
    </section>
 


    <section  id="idea" class="hero-strip section-padding" style="background: #fff;">
        <div class="container">
           <div class="row">
              <div class="col-md-8 col-md-push-2 ">
                 
                  <h2 style="color: #000;" >Searching Outside The Company's Walls</h2>
                  <p style="color: #000; line-height: 1.8em; text-align: left;">The open business model is a simple concept. One that is being   pushed by governments, regulators and consumers. Competition has been one of the prime reasons between industries for companies being closed. Leaving many companies with these traditional closed business models pondering when they should follow suit.</p> 

                  <p style="color: #000; line-height: 1.8em; text-align: left;">Yet as the consumer has matured. With every generation they’ve become more interested in being informed about where their products have originated from. The conditions they were made in. And how much they actually cost to manufacture and distribute.</p> 

                  <p style="color: #000; line-height: 1.8em; text-align: left;">These may all seem like small things. Though how a product is manufactured or an asset acquired can have great cause and affect on others lives around the world. These are important implications to consider. Openness as a whole is largy focused on many areas. Yet the primiary areas are financial, technology, software and product transparency.</p>

              
              </div>
              
              <div class="col-md-8 col-md-push-2 " style="padding-top: 30px;">
              
                  <h2 style="color: #000;" >Encouraging Transparency</h2>
              
                  <p style="color: #000; line-height: 1.8em; text-align: left;"> Easy to learn to clear and concise user-interface design both in consumer and enterprise grade products must be key to the success with a modulistic approach to the way our software is developed is fundamental to the underpinning foundations. These may be distributed or decentralised systems that communicate through micro-services between one another with a fluid set of abstractions that allow us to </p>

              </div>
              
              <div class="col-md-8 col-md-push-2 " style="padding-top: 30px;">
              
                  <h2 style="color: #000;" >Collaborative Networks</h2>
              
                  <p style="color: #000; line-height: 1.8em; text-align: left;"> Easy to learn to clear and concise user-interface design both in consumer and enterprise grade products must be key to the success with a modulistic approach to the way our software is developed is fundamental to the underpinning foundations. These may be distributed or decentralised systems that communicate through micro-services between one another with a fluid set of abstractions that allow us to </p>
              
              </div>

              <div class="col-md-8 col-md-push-2 " style="padding-top: 30px;">
              
                  <h2 style="color: #000;" >Innovation Strategy</h2>
              
                  <p style="color: #000; line-height: 1.8em; text-align: left;"> Easy to learn to clear and concise user-interface design both in consumer and enterprise grade products must be key to the success with a modulistic approach to the way our software is developed is fundamental to the underpinning foundations. These may be distributed or decentralised systems that communicate through micro-services between one another with a fluid set of abstractions that allow us to </p>
              
              </div>


              <div class="col-md-8 col-md-push-2 " style="padding-top: 30px;">
              
                  <h2 style="color: #000;" >Commitment. Reputation. Trust.</h2>
              
                  <p style="color: #000; line-height: 1.8em; text-align: left;"> Easy to learn to clear and concise user-interface design both in consumer and enterprise grade products must be key to the success with a modulistic approach to the way our software is developed is fundamental to the underpinning foundations. These may be distributed or decentralised systems that communicate through micro-services between one another with a fluid set of abstractions that allow us to </p>

              </div>


              <div class="col-md-8 col-md-push-2 " style="padding-top: 30px;">
              
                  <h2 style="color: #000;" >Open Tech. Does Not Mean Free.</h2>
              
                  <p style="color: #000; line-height: 1.8em; text-align: left;"> Easy to learn to clear and concise user-interface design both in consumer and enterprise grade products must be key to the success with a modulistic approach to the way our software is developed is fundamental to the underpinning foundations. These may be distributed or decentralised systems that communicate through micro-services between one another with a fluid set of abstractions that allow us to </p>

                  <p style="color: #000; line-height: 1.8em; text-align: left;" ><a href="//www.researchgate.net/profile/Oliver_Gassmann/publication/260531778_The_antecedents_of_open_business_models_an_exploratory_study_of_incumbent_firms/links/0a85e53c63c469caf8000000.pdf" >The antecedents of open business models: an exploratory study of incumbent firms, by Karolin Frankenberger, Tobias Weiblen, Oliver Gassmann</a></p>
              
              </div>




            </div>
          </div>
    </section>


    <section  id="idea" class="services" style="background-color: #16A085;  padding: 250px 0;" >
       <div class="container">
         <div class="row">
            <div class="col-md-4 col-md-push-1" >
                
                <p style="color: #fff; line-height: 1.8em; text-align: left; ">Join our real-time Slack Chat community and get more involved with Cappui.</p>

                <a href="https://cappui.typeform.com/to/AoKlCo" class="btn-home btn-ghost btn-accent btn-large"target="_blank" >Join the community.</a>

            </div>

            <div class="col-md-6 col-md-push-1" >
              
                <h2 style="color: #fff; font-weight: 700; -webkit-margin-before: 0em;">Join our real-time Slack Chat community and get more involved with Cappui.</h2>
            
            </div>    
         </div>
      </div>
    </section>



