@media screen and (max-width:1200px) {
	header {
		margin: 0 auto;
	}

	.intro-content {
		display: inline-block;

	}

	.hero .hero-content {
		padding-top: 28%;
	}

}

@media screen and (max-width:1024px) {
}
